@CHARSET "UTF-8";

div.left {
	float: left;
	padding: 0px;
}

div.fieldDiv {
	float: left;
	padding: 5px;
	min-width: 250px;
	max-width: 1024px;
	min-height: 70px;
}

div.sectionDiv {
	float: none;
	clear: both;
	width: 95%;
	min-width: 300px;
	max-width: 1024px;
	padding: 10px;
}

div.subSectionDiv {
	float: none;
	clear: both;
	width: 98%;
	min-width: 300px;
	max-width: 1024px;
}

div.listDiv {
	float: left;
	padding: 5px;
	margin: 3px;
	width: 100%;
	max-width: 1024px;
	min-height: 35px;
}

input.bold {
	font-weight: bold;
}

span.validate {
	position: relative;
}

input:invalid,
select:invalid,
textarea:invalid {
	background: #fffafa;
	border-color: #800000;
}

input:valid,
select:valid,
textarea:valid {
	background: auto;
	border-color: #008000;
}

input:invalid + span.validate:before,
select:invalid + span.validate:before,
textarea:invalid + span.validate:before {
	content: "✖";
	font-size: 14pt;
	color: #800000;
	vertical-align: top;
}

input:valid + span.validate:after,
select:valid + span.validate:after,
textarea:valid + span.validate:after {
	content: "✓";
	font-size: 14pt;
	font-weight: bold;
	color: #008000;
	vertical-align: top;
}

input[type="radio"]:checked:after,
input[type="checkbox"]:checked:after {
	content: "✓";
}

input[type="button"][disabled],
input[type="submit"][disabled] {
	background: #808080;
	border: 1px solid #808080;
	border-radius: 10px;
	color: #b0b0b0;
}

select.init {
	font-size: 9pt;
	color: #a0a0a0;
}

div.warning {
	font-size: 9pt;
	color: #a00000;
	max-width: 270px;
}

div.full-warning {
	font-size: 9pt;
	font-weight: bold;
	color: #a00000;
	width: 100%;
}

td.list {
	padding: 10px;
}

td.right {
	text-align: right;
}

td.bottom {
	vertical-align: bottom;
}

td.last {
	width: 33%;
}

td.menu {
	background: #000080;
	width: 170px;
}

table.dashed {
	border-top: 1px dashed #00a000;
}

table.dashed-red {
	border-top: 1px dashed #800000;
}

table.full {
	width: 100%;
}

table.full-height {
	height: 100%;
}

td.dashed {
	border-top: 1px dashed #00a000;
}

div.item {
	background-color: #000080;
	color: white;
	padding: 5px 5px 5px 10px;
}

div.item:hover  {
	color: #c0c0c0;
	background: #6060ff;
	cursor: pointer;
}

div.icon {
	width: 30px;
	font-size: 24pt;
	text-align: center;
	vertical-align: middle;
	background-color: #000080;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: none;
}

div.icon:hover  {
	color: #c0c0c0;
	background: #6060ff;
	cursor: pointer;
}

div.menu {
	width: 170px;
	background-color: #000080;
	color: #d0d0d0;
	padding: 5px 0px 5px 5px;	
	display: block;
}

div.menu_responsive {
	position: absolute;
	left: 0px;
	top: 54px;
	width: 170px;
	background-color: #000080;
	color: #d0d0d0;
	padding: 5px 0px 5px 5px;
	display: none;
	height: 100%;
	animation-name: menu_in;
	animation-duration: 0.5s;
}

div.menu_responsive_out {
	position: absolute;
	left: -170px;
	top: 54px;
	width: 170px;
	background-color: #000080;
	color: #d0d0d0;
	padding: 5px 0px 5px 5px;
	height: 100%;
	animation-name: menu_out;
	animation-duration: 0.5s;
}

div.submenu {
	background-color: #000080;
	color: #d0d0d0;
	padding: 10px 0px 10px 0px;
}

span.menu {
	font-family: sans-serif, arial;
	font-size: 12pt;
	font-weight: bold;
	color: #c0c0ff;
}

@keyframes menu_in {
	from { left: -170px; top: 54px; }
	to { left: 0px; top: 54px; }
}

@-webkit-keyframes menu_in {
	from { left: -170px; top: 54px; }
	to { left: 0px; top: 54px; }
}

@keyframes menu_out {
	from { left: 0px; top: 54px; }
	to { left: -170px; top: 54px; }
}

@-webkit-keyframes menu_out {
	from { left: 0px; top: 54px; }
	to { left: -170px; top: 54px; }
}

/*************************/
/*smartphones and tablets*/
/*************************/
@media screen and (max-width: 740px) {
	div.icon {
		display: block;
	}

	div.menu {
		display: none;
	}
	
	div.menu_responsive {
		display: block;
	}
	
	td.menu {
		width: 30px;
	}
}