@CHARSET "UTF-8";

h3, caption {
	font-family: sans-serif, arial;
	font-size: 14pt;
	font-weight: bold;
	color: #000080;
}

body, div, td, input, select, textarea, a {
	font-family: sans-serif, arial;
	font-size: 10pt;
	color: #606060;
	text-decoration: none;
}

body, html {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

caption {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

table {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

td {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

div {
	float: none;
}

input, textarea {
	min-height: 20px;
	min-width: 180px;
	max-width: 240px;
	background-color: white;
	border: 1px solid #606060;
	border-radius: 5px;	
	padding: 5px;
}

select {
	min-height: 20px;
	min-width: 180px;
	max-width: 240px;
	background-color: white;
	border: 1px solid #606060;
	border-radius: 5px;	
	padding: 5px;
}

option {
	font-family: sans-serif, arial;
	font-size: 10pt;
	color: #606060;
}

input[type="radio"],
input[type="checkbox"] {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 14pt;
	font-weight: bold;
	color: #008000;
	width: 25px;
	height: 25px;
	min-width: 25px;
  	max-width: 240px;
	min-height: 25px;
  	max-height: 240px;
  	border-radius: 15px;
  	vertical-align: middle;
}

input[type="number"] {
	min-width: 90px;
}

input[type="date"] {
	min-width: 120px;
}

input[type="button"],
input[type="submit"] {
	color: white;
	font-size: 12pt;
	min-height: 25px;
	min-width: 35px;
	max-width: 150px;
	border: 1px solid #000080;
	border-radius: 10px;
	background: #000080;
	padding: 5px;
}

select {
	height: 36px;
	padding: 5px;
}

textarea {
	min-height: 60px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-size: 9pt;
	color: #a0a0a0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	font-size: 9pt;
	color: #a0a0a0;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	font-size: 9pt;
	color: #a0a0a0;
}

input::-ms.input-placeholder,
textarea::-ms.input-placeholder {
	font-size: 9pt;
	color: #a0a0a0;
}

/*******************/
/*tablets: 1.5 to 1*/
/*******************/
/*@media handheld, screen and (max-aspect-ratio: 4/3)

}*/