<table class="full">
	<tr>
		<td>
			<h3>{{rows[0].caption}}</h3>
		</td>
		<td class="list right">
			<input type="button" class="bold" value="+" ng-click="add()"/>
			<input type="button" class="bold ng-hide" value="-" ng-click="del()"
				ng-show="rows.length>1"/>
		</td>
	</tr>
	<tr ng-repeat="row in rows track by $index">
		<td colspan="2">
			<div class="fieldDiv">
				<div>{{row.data.type.text}}</div>
				<div>
					<select name="contact.{{$index}}.contactType" required ng-model="contactType"
						class="init" ng-change="addRemoveClass('contact.{{$index}}.contactType','init',
						contactType)">
						<option ng-repeat="option in row.data.type.options" value="{{option.value}}">
							{{option.text}}</option>
					</select>
					<span class="validate"></span>
				</div>
			</div>
			<div class="fieldDiv">
				<div>{{row.data.contact}}</div>
				<div>
					<input type="text" name="contact.{{$index}}.contactData" ng-model="contactData"
						required pattern="{{row.data.type.options[contactType].pattern}}"
						maxlength="100"
						placeholder="{{setDefaultOption(row.data.type.options,contactType).
							placeholder}}" onchange="lowercase(this)" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isEmptyField('contact.{{$index}}.contactData')">
						{{row.data.type.options[contactType].warning}}</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="list right">
			<input type="button" class="bold" value="+" ng-click="add()"/>
			<input type="button" class="bold ng-hide" value="-" ng-click="del()"
				ng-show="rows.length>1"/>
		</td>
	</tr>
</table>
