<table class="full">
	<tr>
		<td colspan="3">
			<h3>{{caption}}</h3>
		</td>
	</tr>
	<tr ng-repeat="row in editRows track by $index">
		<td class="list">
			{{data.type.options[row.contactType].text}}
		</td>
		<td class="list">
			{{row.contactData}}
		</td>
		<td class="right last">
			<input type="button" value="{{data.editLabel}}" ng-click="edit($index,'contact')" />
			<input type="button" class="bold ng-hide" value="-" ng-click="del($index)"
				ng-show="editRows.length>1"/>
			<input type="hidden" name="contact.{{$index}}.contactType" value="{{row.contactType}}"/>
			<input type="hidden" name="contact.{{$index}}.contactData" value="{{row.contactData}}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3"">
			<div class="fieldDiv">
				<div>{{data.type.text}}</div>
				<div>
					<select class="init" name="contact.contactType" ng-model="contactType"
						ng-required="!editRows.length"
						ng-change="addRemoveClass('contact.contactType','init',contactType)">
						<option ng-repeat="option in data.type.options" value="{{option.value}}">
							{{option.text}}</option>
					</select>
					<span class="validate"></span>
				</div>
			</div>
			<div class="fieldDiv">
				<div>{{data.contact}}</div>
				<div>
					<input type="text" name="contact.contactData" ng-model="contactData"
						ng-required="!editRows.length"
						pattern="{{data.type.options[contactType].pattern}}"
						maxlength="100"
						placeholder="{{setDefaultOption(data.type.options,contactType).
							placeholder}}" onchange="lowercase(this)" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('contact.contactData')">
						{{data.type.options[contactType].warning}}</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="right bottom">
			<input type="button" class="bolder" value="+"
				ng-click="add('contact.contactType','contact.contactData')"
				ng-disabled="isEmptyField('contact.contactData')||isEmptyField('contact.contactType')"/>
		</td>
	</tr>
</table>
