<div>{{caption}}</div>
<div>
	<select name="{{ctrlName}}" ng-required="isRequired"
		ng-model="country" class="init" ng-disabled="isDisabled"
		ng-change="addRemoveClass('{{ctrlName}}','init',country)">
		<option ng-repeat="option in data.country.options"
			value="{{option.value}}">
			{{isNationality?option.nationality:option.text}}</option>
	</select>
	<span class="validate"></span>
</div>