<div>
	<input type="text" ng-model="datePick" name="{{ctrlName}}" ng-required="isRequired"
		pattern="{{ctrlPattern}}" ng-disabled="isDisabled" placeholder="{{ctrlPlaceHolder}}" datepicker/>
	<span class="validate"></span>
	<div class="warning ng-hide" ng-show="isEmptyField('{{ctrlName}}')&&!isDisabled">{{ctrlWarning}}</div>
	<div class="warning ng-hide" ng-show="!isEmptyField('{{ctrlName}}')&&!isDisabled&&showAge">
		{{getAge(datePick)}} {{ctrlLabel}}</div>
</div>