<div>
	<input type="date" ng-model="datePick" name="{{ctrlName}}" placeholder="{{ctrlPlaceHolder}}"
		min="{{getFormatDate(setMin)}}" max="{{getFormatDate(setMax)}}"
		ng-required="isRequired" ng-disabled="isDisabled" />
	<span class="validate"></span>
	<div class="warning ng-hide" ng-show="isEmptyField('{{ctrlName}}')&&!isDisabled">{{ctrlWarning}}</div>
	<div class="warning ng-hide" ng-show="!isEmptyField('{{ctrlName}}')&&!isDisabled&&showAge">
		{{getAge(datePick)}} {{ctrlLabel}}</div>
</div>