<table class="full">
	<tr>
		<td colspan="2">
			<h3>{{caption}}</h3>
		</td>
	</tr>
	<tr ng-repeat="row in editRows track by $index">
		<td class="list">
			{{data.name.text}} {{row.name}} {{row.surname}} {{row.secondSurname}}<br/>
			{{data.genre.text}} {{row.genre=="M" ? data.genre.genreMale :
				data.genre.genreFemale}}<br/>
			{{data.relationship.text}} <!--{{row.relationshipName}}-->
			{{getOption(getOptions(relationOptions.data.options,row.genre,'genre','options'),
				row.relationship).text}} <br/>
			{{data.birthday.text}} {{getFormatDate(row.birthday,language)}}{{","}}
			{{getAge(setDate(row.birthday))}} {{data.birthday.label}}
		</td>
		<td class="right last">
			<input type="button" value="{{data.editLabel}}" ng-click="edit($index,'family')" />
			<input type="button" class="bold ng-hide" value="-" ng-click="del($index)"
				ng-show="editRows.length>1"/>
			<input type="hidden" name="family.{{$index}}.name" value="{{row.name}}"/>
			<input type="hidden" name="family.{{$index}}.surname" value="{{row.surname}}"/>
			<input type="hidden" name="family.{{$index}}.secondSurname" value="{{row.secondSurname}}"/>
			<input type="hidden" name="family.{{$index}}.birthday" value="{{row.birthday}}"/>
			<input type="hidden" name="family.{{$index}}.genre" value="{{row.genre}}"/>
			<input type="hidden" name="family.{{$index}}.relationship" value="{{row.relationship}}"/>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<person field-name="family" relation="true" birthday="showBirthday"
				required="!editRows.length"></person>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="list right">
			<input type="button" class="bold" value="+"
				ng-click="add('family.name','family.surname','family.secondSurname',
					'family.birthday','family.genre','family.relationship','family.relationshipName')"
				ng-disabled="isEmptyField('family.name')||isEmptyField('family.surname')||
					isNotValidField('family.secondSurname')||isEmptyField('family.birthday')||
					isEmptyField('family.genre')||isEmptyField('family.relationship')"/>
		</td>
	</tr>
</table>
