<table class="full">
	<tr>
		<td>
			<h3>{{rows[0].caption}}</h3>
		</td>
		<td class="list right">
			<input type="button" class="bold" value="+" ng-click="add()"/>
			<input type="button" class="bold ng-hide" value="-" ng-click="del()"
				ng-show="rows.length>1"/>
		</td>
	</tr>
	<tr ng-repeat="row in rows track by $index">
		<td colspan="2">
			<person field-name="family" relation="true" birthday="showBirthday"
				required="true"></person>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="list right">
			<input type="button" class="bold" value="+" ng-click="add()"/>
			<input type="button" class="bold ng-hide" value="-" ng-click="del()"
				ng-show="rows.length>1"/>
		</td>
	</tr>
</table>