<table class="full">
	<tr>
		<td>
			<!-- {{caption}} -->
			<select name="language" ng-model="language" ng-change="setLanguage()">
				<option ng-repeat="lang in data.options" value="{{lang.value}}">
					{{lang.text}}</option>
			</select>
		</td>
	</tr>
</table>
