<div class="icon" onclick="activate(event,'menu','menu','menu_responsive','menu_responsive_out')">&#9776;</div>
<div class="menu" id="menu">
	<table>
		<tr>
			<td>
				<div class="submenu"><span class="menu">{{caption}}</span></div>
				<div class="submenu" ng-repeat="lvl in data.level">{{lvl.caption}}
					<div class="item" ng-repeat="option in lvl.options" ng-click="getUrl(option.url)">
						{{option.text}}</div>
					<div class="submenu" ng-repeat="lvl2 in lvl.level">
						{{lvl2.caption}}	
						<div class="item" ng-repeat="option in lvl2.options" ng-click="getUrl(option.url)">
							{{option.text}}</div>
						<div class="submenu" ng-repeat="lvl3 in lvl2.level">
							{{lvl3.caption}}	
							<div class="item" ng-repeat="option in lvl3.options" ng-click="getUrl(option.url)">
								{{option.text}}</div>
							<div class="submenu" ng-repeat="lvl4 in lvl3.level">
								{{lvl4.caption}}	
								<div class="item" ng-repeat="option in lvl4.options" ng-click="getUrl(option.url)">
									{{option.text}}</div>
								<div class="submenu" ng-repeat="lvl5 in lvl4.level">
									{{lvl5.caption}}	
									<div class="item" ng-repeat="option in lvl5.options" ng-click="getUrl(option.url)">
										{{option.text}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>