<table class="full">
	<tr class="ng-hide" ng-show="showCaption"><td><h3>{{caption}}</h3></td></tr>
	<tr>
		<td>
			<div class="fieldDiv">
				<div>{{data.name.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.name" ng-required="isRequired"
						pattern="{{data.name.pattern}}"
						ng-model="name" onchange="capitalize(this)" maxlength="100"
						placeholder="{{data.name.placeholder}}" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.name')">
						{{data.name.warning}}</div>
				</div>
		  	</div>
			<div class="fieldDiv">
				<div>{{data.surname.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.surname" ng-required="isRequired"
						pattern="{{data.surname.pattern}}"
						ng-model="surname" onchange="capitalize(this)" maxlength="100"
						placeholder="{{data.surname.placeholder}}" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.surname')">
						{{data.surname.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv">
				<div>{{data.secondSurname.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.secondSurname"
						pattern="{{data.secondSurname.pattern}}"
						ng-model="secondSurname" onchange="capitalize(this)" maxlength="100"
						placeholder="{{data.secondSurname.placeholder}}" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.secondSurname')">
						{{data.secondSurname.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv" ng-show="showBirthday">
				<div>{{data.birthday.text}}</div>
				<div>
					<date-control field-name="{{ctrlName}}.birthday" required="showBirthday&&isRequired"
						pattern="{{data.birthday.pattern}}" placeholder="{{data.birthday.placeholder}}"
						warning="{{data.birthday.warning}}" label="{{data.birthday.label}}" show-age="true"
						min="{{data.birthday.minDate}}" max="{{data.birthday.maxDate}}" disabled="!showBirthday">
					</date-control>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showBirthPlace">
				<div>{{data.birthPlace.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.birthPlace" ng-required="showBirthPlace&&isRequired"
						pattern="{{data.birthPlace.pattern}}"
						ng-model="birthPlace" onchange="capitalize(this,1)"
						placeholder="{{data.birthPlace.placeholder}}" ng-disabled="!showBirthPlace" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.birthPlace')">
						{{data.birthPlace.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showBirthPlace">
				<div>{{data.birthCountry.text}}</div>
				<countries name="{{ctrlName}}.birthCountry" required="showBirthPlace&&isRequired"
					nationality="true" disabled="!showBirthPlace"></countries>
			</div>
			<div class="fieldDiv">
				<div>{{data.genre.text}}</div>
				<div>
					<input type="radio" name="{{ctrlName}}.genre" ng-required="isRequired"
						ng-model="genre" value="{{data.genre.genreMale.value}}" />
						{{data.genre.genreMale.text}}
					<input type="radio" name="{{ctrlName}}.genre" ng-required="isRequired"
						ng-model="genre" value="{{data.genre.genreFemale.value}}" />
						{{data.genre.genreFemale.text}}
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showRelation">
				<div>{{data.relationship.text}}</div>
				<div>
					<select name="{{ctrlName}}.relationship"
						ng-required="showRelation&&isRequired" ng-model="relationship"
						class="init" ng-change="addRemoveClass('{{ctrlName}}.relationship','init',
						relationship)" ng-disabled="!showRelation">
						<option ng-repeat="option in getOptions(relationOptions.data.options,
							genre,'genre','options')" value="{{option.value}}">
							{{option.text}}</option>
					</select>
					<span class="validate"></span>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showIdent">
				<div>{{data.maritalStatus.text}}</div>
				<div>
					<select class="init" name="{{ctrlName}}.maritalStatus" ng-model="maritalStatus"
						pattern="{{data.maritalStatus.pattern}}" ng-disabled="!showIdent"
						ng-required="showIdent&&isRequired"
						ng-change="addRemoveClass('{{ctrlName}}.maritalStatus','init',maritalStatus)">
						<option ng-repeat="option in data.maritalStatus.options" value="{{option.value}}">
							{{option.text}}</option>
					</select>
					<span class="validate"></span>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showIdent">
				<div>{{data.socialID.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.socialID"
						pattern="{{data.socialID.pattern}}"
						ng-model="socialID" maxlength="18" ng-required="showIdent&&isRequired"
						placeholder="{{data.socialID.placeholder}}" onchange="uppercase(this)"
						ng-disabled="!showIdent" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.socialID')">
						{{data.socialID.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showPhysics">
				<div>{{data.height.text}}</div>
				<div>
					<input type="number" name="{{ctrlName}}.height"
						pattern="{{data.height.pattern}}" ng-required="showPhysics&&isRequired"
						ng-model="height" min="10" max="250" ng-disabled="!showPhysics" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.height')">
						{{data.height.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showPhysics">
				<div>{{data.weight.text}}</div>
				<div>
					<input type="number" name="{{ctrlName}}.weight"
						pattern="{{data.weight.pattern}}" ng-required="showPhysics&&isRequired"
						ng-model="weight" min="10" max="500" ng-disabled="!showPhysics" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.weight')">
						{{data.weight.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showPhysics">
				<div>{{data.skin.text}}</div>
				<div>
					<input type="text" name="{{ctrlName}}.skin"
						pattern="{{data.skin.pattern}}"
						ng-model="skin" maxlength="30" ng-required="showPhysics&&isRequired"
						placeholder="{{data.skin.placeholder}}" onchange="capitalize(this,1)"
						ng-disabled="!showPhysics" />
					<span class="validate"></span>
					<div class="warning ng-hide" ng-show="isNotValidField('{{ctrlName}}.skin')">
						{{data.skin.warning}}</div>
				</div>
			</div>
			<div class="fieldDiv ng-hide" ng-show="showPhysics">
				<div>{{data.signs.text}}</div>
				<div>
					<textarea name="{{ctrlName}}.signs" ng-model="signs" maxlength="200"
						placeholder="{{data.signs.placeholder}}"
						onchange="capitalize(this,1)" ng-disabled="!showPhysics"></textarea>
					<span class="validate"></span>
				</div>
			</div>
		</td>
	</tr>
</table>