<table class="full">
	<tr>
		<td class="list right">
			<input class="btn btn-success pull-right" type="submit"
				ng-disabled="isNotValidForm(ctrlForm)||isDisabled" value="{{caption}}" />
		</td>
	</tr>
</table>
