<form name="form" action="" method="post">
	<div class="sectionDiv">
		<!-- language></language -->
		<warning></warning>
		<person name="person" ident="true" physics="true"
				birthday="true" birthplace="true" required="true" caption="true"></person>
		<address></address>
		<contact-v2></contact-v2>
		<family-v2 birthday="true"></family-v2>
		<submit></submit>
	</div>
</form>