<form name="form" action="" method="post">
	<div class="sectionDiv">
		<!-- language></language -->
		<warning></warning>
		<person name="person" ident="true" physics="true"
				birthday="true" birthplace="true" required="true" caption="true"></person>
		<address></address>
		<contact></contact>
		<family birthday="true"></family>
		<submit></submit>
	</div>
</form>