@CHARSET "UTF-8";
body {
	font-family: arial;
	font-size: 10pt;
}

h3 {
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
	color: #000080;
}

input {
	font-family: arial;
	font-size: 10pt;
}

textarea {
	font-family: arial;
	font-size: 10pt;
}

div {
	font-family: arial;
	font-size: 10pt;
}